.leaderboard {
	width: auto;
	height: auto;
}

.entry {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.rank{
	position: relative;
	display: inline-block;
	width: 10%;
}
.name {
	position: relative;
	display: inline-block;
	width: 30%;
	line-height: 45px;
}

.value {
	position: relative;
	display: inline-block;
	width: 30%;
}

